{
  "presets": [
    ["@babel/env", {
      "modules": false,
      "targets": "> 0.25%, not dead"
    }],
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  },
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
