.page-main {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 70px;
  padding: 1em;
  overflow: hidden;

  .slide {
    position: relative;
    height: 100vh;
  }

  .title {
    position: absolute;
    transform: translateY(-50%);
    top: 75%;
    left: 10%;
    font-family: $secondaryFont;
    font-weight: 900;
    font-size: $--step-up-3;
    text-transform: capitalize;
  }

  a {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 60%;
    img {
      height: 700px;
    }
  }
}
