.page-main {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 70px;
  padding: 1em;
  overflow: hidden;

  .slide {
    position: relative;
    height: 60vh;
    &__image {
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 60%;
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
    }
    &__content {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 10%;
      font-size: $--step-down-3;
      max-width: 450px
    }
    &__title {
      font-family: $secondaryFont;
      font-weight: 900;
      font-size: $--step-up-3;
      text-transform: capitalize;
    }
    &__copy {
      font-size: 16px;
    }
  }
  .slider-nav {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    right: 5%;
    cursor: grab;
    &__single {
      position: relative;
      width: 10px;
      height: 10px;
      &::after {
        content: '';
        position: absolute;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        background: #f1f1f1;
        border-radius: 50%;
        top: 0;
        left: 0;
        transition: background-color, width, border-radius 400ms;
      }
      &.active {
        &::after {
          background-color: #000;
        }
      }
    }
  }
}
.navigation-open {
  cursor: grabbing;
}
