.page-main {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 70px;
  padding: 1em;
  overflow: hidden;

  .slide {
    position: relative;
    height: 100vh;
    &__image {
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 60%;
    }
    &__content {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 10%;
      font-size: $--step-down-3;
      max-width: 450px
    }
    &__title {
      font-family: $secondaryFont;
      font-weight: 900;
      font-size: $--step-up-3;
      text-transform: capitalize;
    }
    &__copy {
      font-size: 16px;
    }
  }
}
