$brand-yellow: #ff0;

$mainFont: 'montserrat', sans-serif;
$secondaryFont: 'futura-pt-bold', sans-serif;

// media
$widescreen: 1300px;
$large: 1025px;
$big: 800px;
$med: 700px;
$small: 420px;

// TYPESCALE

$--step-up-3 : 1.728em;
$--step-up-2 : 1.44em;
$--step-up-1 : 1.2em;
// 1em
$--step-down-1 : 0.833em;
$--step-down-2 : 0.694em;
$--step-down-3 : 0.579em;
