{{#json
'{
	"links": [
		{"title": "New Page", "slug": "/newpage"},
		{"title": "Contact", "slug": "/"}
	]
}'
}}
<header class="header">
	<div class="brand">
		<h1 class="brand__logo"><a href="/">
		Frontend Boiler
	</a></h1>
	</div>
	<div class="mobile-nav">
		<svg id="ToggleNav" class="mobile-nav__burger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50px" height="50px">
			<rect y="10" width="50" height="10" rx="2" ry="2" class="burger__element burger__element--top"></rect>
			<rect y="30" width="50" height="10" rx="2" ry="2" class="burger__element burger__element--bottom"></rect>
		</svg>
		<nav id="MobileNav" class="mobile-nav__menu">
			<ul class="mobile-nav__list">
				{{#each links}}
					<li class="mobile-nav__list-item">
						<a href="{{this.slug}}">{{this.title}}</a>
					</li>
				{{/each}}
			</ul>
		</nav>
	</div>
	<nav id="MainNav" class="header__nav">
		<ul class="header__list">
			{{#each links}}
			<li class="header__list-item">
				<a href="{{this.slug}}">{{this.title}}</a>
			</li>
			{{/each}}
		</ul>
	</nav>
</header>
{{/json}}
