{{#json
'{
  "slides": [
    {
      "title": "All in a day",
      "slug": "/newpage",
      "image": "./src/assets/120045.jpg"
    },
    {
      "title": "Tuesday tunes",
      "slug": "/player",
      "image": "./src/assets/image2.jpg"
    }
  ]
}'
}}
  <div class="slider-wrapper">
    <div id="morphing">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="50px" width="50px"
      	 viewBox="0 0 32 32">
      <path class="polymorph" d="M26.594,16c0,5.851-4.743,10.594-10.594,10.594S5.406,21.851,5.406,16S10.149,19.25,16,19.25S26.594,10.149,26.594,16z"/>
      </svg>
  </div>
    {{#each slides }}
      <div class="slide" data-slide-index={{@index}}>
        <div class="slide__image">
          <a href="{{this.slug}}"><img src="{{this.image}}" alt=""></a>
        </div>
        <div class="slide__content">
          <h2 class="slide__title">{{this.title}}</h2>
          <p class="slide__copy">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde facilis non numquam, maxime minima quas possimus ullam dolorem recusandae! Quo!
          </p>
        </div>
      </div>
    {{/each}}
  </div>
{{/json}}
